# Database Configuration
DB_URL=xxxx
DB_USERNAME=root
DB_PASSWORD=xxxx

# Google OAuth2 Credentials
GOOGLE_CLIENT_ID=xxxx
GOOGLE_CLIENT_SECRET=xxxxx

# Mail Configuration (Gmail SMTP)
MAIL_USERNAME=xxx.qnu@gmail.com
MAIL_PASSWORD=xxx