# Database Configuration
DB_URL=xyour_secret_here
DB_USERNAME=your_secret_here
DB_PASSWORD=your_secret_here

# Google OAuth2 Credentials
GOOGLE_CLIENT_ID=your_secret_here
GOOGLE_CLIENT_SECRET=your_secret_here

# Mail Configuration (Gmail SMTP)
MAIL_USERNAME=xxx@gmail.com
MAIL_PASSWORD=xxx

# JWT Secret (min 32 characters)
JWT_SECRET=UniActivitySecretKeyMustBeAtLeast32CharactersLong2026